<div class="modal-overlay">
  <div class="modal-content">
    <h2>Agregar Tarea</h2>
    <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Título</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          class="form-control"
        />
        @if (addTaskForm.get('title')?.errors?.['required'] &&
        addTaskForm.get('title')?.touched) {
        <span class="error">El título es requerido </span>
        } @if (addTaskForm.get('title')?.errors?.['maxlength']) {
        <span class="error">El título no puede exceder 250 caracteres</span>
        } 
      </div>

      <div class="button-group">
        <button type="button" class="btn-cancel" (click)="onCancel()">
          Cancelar
        </button>
        <button type="submit" class="btn-save" [disabled]="!addTaskForm.valid">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
