<div class="alerts-container">
  @for (alert of alerts(); track alert.message) {
  <div class="alert alert-{{ alert.type }}">
    {{ alert.message }}
  </div>
  }
</div>
<header>
  <div class="container-title">
    <h1>Gestión de Tareas</h1>
  </div>
  <div class="states-menu-container">
    <div class="states-menu-header">
      <button (click)="toggleStatesMenu()" class="states-btn-toggle">
        Estados
      </button>
      <div class="container-toggle-trash">
        <label for="filter" class="switch" aria-label="Toggle Filter">
          <input type="checkbox" id="filter" (change)="changeView()" />
          <span>Tajetas</span>
          <span>Tabla</span>
        </label>
        <button (click)="toggleTrash()" class="trash-btn">
          <svg
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-trash"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 7l16 0" />
            <path d="M10 11l0 6" />
            <path d="M14 11l0 6" />
            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
          </svg>
        </button>
        @if (showTrash()) {
        <div class="trash-menu">
          <div class="states-list">
            <div class="trash-header">
              <h3>Papelera</h3>
              <button class="empty-trash-btn" (click)="onEmptyTrash()">
                <svg width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7h16" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /><path d="M10 12l4 4m0 -4l-4 4" /></svg>
              </button>
            </div>
            @if(taskInTrash().length === 0) {
            <div class="empty-trash">No hay tareas en la papelera</div>
            }
            @for (task of taskInTrash(); track task.id) {
            <div class="trash-item">
              <span>{{ task.title }}</span>
              <div class="trash-actions">
                <button class="restore-btn" (click)="onRestore(task.id)">
                  <svg  width="18"  height="18"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-restore"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3.06 13a9 9 0 1 0 .49 -4.087" /><path d="M3 4.001v5h5" /><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
                </button>
                <button class="delete-btn" (click)="onDeleteFromTrash(task.id)">
                  🗑️
                </button>
              </div>
            </div>
            }
          </div>
        </div>
        }
      </div>
    </div>
    @if (showStatesMenu()) {
    <div class="states-menu">
      <div class="states-list">
        <h3>Estados Actuales</h3>
        @for (state of states(); track state.id) {
        <div class="state-item">
          <span>{{ state.name }}</span>
          @if(state.id !== 1 && state.id !== 2 && state.id !== 3) {
          <button class="delete-btn" (click)="onDeleteState(state.id)">
            🗑️
          </button>
          }
        </div>
        }
      </div>
      <form
        [formGroup]="addStateForm"
        (ngSubmit)="onSubmit()"
        class="add-state-form"
      >
        <input type="text" formControlName="name" placeholder="Nuevo estado" />
        <button type="submit" [disabled]="!addStateForm.valid">+</button>
      </form>
    </div>
    }
  </div>
</header>
<main>
  <section>
    @if(showBoardTasks()) {
    <app-task-board />
    } @else {
    <app-task-table />
    }
  </section>
</main>

<router-outlet />
