<header>
  <div class="container-title">
    <h1>Gestor de tareas</h1>
  </div>
  <div class="states-menu-container">
    <button (click)="toggleStatesMenu()" class="states-btn-toggle">Estados</button>
    @if (showStatesMenu()) {
    <div class="states-menu">
      <div class="states-list">
        @for (state of states(); track state.id) {
        <div class="state-item">
          <span>{{ state.name }}</span>
          @if(state.id !== 1 && state.id !== 2 && state.id !== 3) {
            <button class="delete-btn" (click)="onDeleteState(state.id)">🗑️</button>
          }
        </div>
        }
      </div>
      <form
        [formGroup]="addStateForm"
        (ngSubmit)="onSubmit()"
        class="add-state-form"
      >
        <input type="text" formControlName="name" placeholder="Nuevo estado" />
        <button type="submit" [disabled]="!addStateForm.valid">+</button>
      </form>
    </div>
    }
  </div>
</header>
<main>
  <section>
    <app-task-board />
  </section>
</main>

<router-outlet />
